.form-builder-row{
  padding: 5px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  .form-builder-column{
    padding: 0 10px;
    width:33.33%;
    position: relative;
    box-sizing: border-box;
    .label-wrap{
      float: left;
      width: 127px;
      margin-right: 10px;
      font-size: 12px;
      margin-top: 8px;
      text-align: right;
    }
    .form-builder-asterisk{
      vertical-align: top;
    }
    input{
      color: #363463;
      padding: 2px 10px;
      margin-top: 5px;
      background-color: #FFF;
      border: 1px solid #DDD;
      width: 197px;
      margin-right: 15px;
      box-sizing: border-box;
    }
    .comment-toggle{
      position: absolute;
      right:10px;
      top:3px;
    }
    .obs-comment-section-wrap{
      margin-right: 72px;
      clear: both;
    }
    textarea{
      word-wrap: break-word;
      height: 35px;
      width: 197px;
      padding: 2px 10px;
      color: #363463 ;
      background-color: #FFF;
      border: 1px solid #DDD;
      box-sizing: border-box;
    }

    .form-builder-error {
      border: 2px solid #ff3434;
      background: #ffcdcd;
      outline: 0;
    }
    .concept-tooltip-wrap{
      .concept-tooltip-trigger {
        cursor: pointer;
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        border-radius: 100%;
        font-size: 20px;
        color: $bahmniSecondaryColor;
        box-shadow: 1px 1px 1px $lightGray;
        background: $white;
        padding: 0;
        margin-left: 5px;
        position: relative;

      }
      .concept-tooltip-description {
        top:-33px;
        margin-left:0;
        margin-top: 0;
        text-align: left;
        position: absolute;
        display:none;
        z-index: 9;
        .details {
          display: inline-block;
          font-size: 12px;
          padding: 5px;
          border-radius: 5px;
          background:$black;
          color: $white;
        }
        i {
          position: absolute;
          bottom: -16px;
          left: 1%;
          font-size: 20px;
          color: $black;
        }
        p {
          margin-bottom: 5px;
          line-height: 1.1;
        }
      }
      &.active{
        .concept-tooltip-description{
          display: block;
        }
      }
    }
  }
}

.form-builder-fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.form-builder-asterisk {
  color: red;
  margin-left: 5px;
}

.form-builder-radio {
  display: inline-block;
}