$lightestGray: #eee;
.form-builder-row {
  width: 100%;
  .form-builder-column-wrapper{
    min-height: 50px;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    clear: both;
    .form-builder-column {
      min-height: 50px;
      width: 100%;
      padding: 5px 5px;
      box-sizing: border-box;
      clear: both;
      &.active {
        border: 1px dotted $gray500;
      }
      .form-field-wrap {
        position: relative;
        width: 100%;
        .obs-comment-wrap{
          display: flex;
          .obs-comment-content{
            flex:9;
            textarea{
              width:85%;
            }
          }
        }
        .form-field-content-wrap{
          display: flex;
          justify-content: flex-end;
        }
        .label-wrap {
          float: left;
          margin-right: 20px;
          font-size: 12px;
          margin-top: 5px;
          text-align: right;
          position: relative;
          flex:2.5;
          .form-builder-asterisk {
            position: absolute;
            color: $red;
            top: 0;
            right: 20px;
          }
          .form-builder-tooltip-trigger {
            cursor: pointer;
            display: inline-block;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            border-radius: 100%;
            font-size: 20px;
            color: $bahmniSecondaryColor;
            box-shadow: 1px 1px 1px $gray400;
            background: $white;
            padding: 0;
            position: relative;
            margin-left: 5px;
          }
        }
        .obs-control-field{
          flex:9;
          textarea{
            width: 70%;
            float:left;
          }
          .form-control-buttons{
            width: 83%;
          }
        }
        input {
          width: 12.5em;
          color: $bahmniTextColor;
          padding: 2px 10px;
          margin: 0 10px 5px 0;
          background-color: $white;
          border: 1px solid $gray300;
          font-size: 14px;
          &.form-builder-label{
            margin-top:-4px;
          }
          &[type = "date"], &[type = "time"] {
            float: left;
          }
          &.form-builder-warning {
            outline: 2px solid $warningOutline;
            background: $warningBg;
            color: $red;
          }
          &.form-builder-error {
            outline: 2px solid $error;
            background: $errorBg;
          }
          &[disabled] {
            background: #eee;
            border: #ccc 1px solid;
            color: #ccc;
            font-style: normal;
            cursor: not-allowed;
          }
        }

        input.computed-value{
          border: 0;
          color: #363463;
          background: #FFFFFF;
          pointer-events: none;
        }

        .form-builder-valid-range {
          color: $gray600;
          font-size: 13px;
          padding-right:10px;
        }
        .form-builder-comment-wrap{
          clear: both;
          overflow: hidden;
          .obs-comment-section-wrap {
            display: flex;
            .text-area-wrap {
              flex: 9;
              margin-right: 15px;
              textarea {
                width: 100%;
                margin-top: 5px;
                margin-left: 3px;
              }
            }
          }
        }
        .form-builder-comment-toggle {
          position: absolute;
          right: 0;
          top: -2px;
          padding: 3px;
          &.active {
            .fa-file-o {
              .fa-plus-circle {
                display: none;
              }
              .fa-minus-circle {
                display: block;
              }
            }
          }

          .fa-file-o {
            position: relative;
            color: $gray600;
            .fa-minus-circle {
              display: none;
            }
            .fa-plus-circle, .fa-ok-sign, .fa-plus, .fa-minus-circle {
              position: absolute;
              right: 2px;
              bottom: 2px;
              font-size: 10px;
              color: $green;
              background: $white;
              border-radius: 8px;
              padding: 0;
            }
          }
          .fa-file-text-o {
            display: none;
          }
          &.has-notes {
            .fa-file-o {
              display: none;
            }
            .fa-file-text-o {
              display: block;
            }
          }
        }
        textarea {
          float: left;
          word-wrap: break-word;
          min-height: 53px;
          padding: 2px 10px;
          color: $bahmniTextColor;
          background-color: $white;
          border: 1px solid $gray300;
          box-sizing: border-box;
          resize: vertical;
          margin:0 10px 5px 0;
          &.form-builder-error {
            outline: 2px solid $error;
            background: $errorBg;
          }
          &[disabled] {
            background: #eee;
            border: #ccc 1px solid;
            color: #ccc;
            font-style: normal;
            cursor: not-allowed;
          }
        }
        .form-builder-tooltip-wrap {
          display: none;
          width: 100%;
          margin-bottom: 5px;
          text-align: left;
          float: none;
          position: relative;
          &.active {
            display: block;
          }
          .form-builder-tooltip-description {
            display: none;
            text-align: left;
            position: relative;
            width: 82%;
            right: -17%;
            .details {
              display: inline-block;
              font-size: 12px;
              padding: 5px;
              border-radius: 5px;
              background: $black;
              color: $white;
              width: fit-content;
              background: #000;
              position: sticky;
              margin-left: calc(5% - 15px);
            }
            i {
              position: absolute;
              font-size: 20px;
              color: $black;
              bottom: -16px;
              right: calc(95% - 10px);
            }
            p {
              margin-bottom: 5px;
              line-height: 1.1;
            }
          }
          &.active {
            .form-builder-tooltip-description {
              display: block;
            }
          }

        }
      }
      .form-builder-clone{
        float:left;
        .form-builder-add-more{
          padding: 0;
          color: $green;
          margin:0;
        }
        .form-builder-remove{
          padding: 2px 0;
          color:#9D0101;
          margin-left: 10px;
        }
        .fa {
          padding: 3px;
        }
      }

      .abnormal-button{
        margin-right: 10px;
        float: left;
        line-height: 1;
        i {
          padding: 0;
        }
      }

      legend {
        padding: 2px 10px;
        color: $gray600;
        border: 1px solid #999;
        border-radius: 20px;
        text-transform: none;
        font-size: 12px;
        background: $white;
        position: absolute;
        top: -11px;
        left: 10px;
        &.form-builder-toggle{
          cursor: pointer;
          i {
            width: 1.25em;
            text-align: center;
            margin-left: 1.25em;
          }
          .fa-caret-right{
            display: inline-block;
          }
          .fa-caret-down{
            display: none;
          }
          &.active{
            background: $white;
            .fa-caret-right{
              display: none;
            }
            .fa-caret-down{
              display: inline-block;
              width: 1.2em;
            }
            &.disabled{
              background: #eee;
              border: #ccc 1px solid;
              color: grey;
              font-style: normal;
            }
          }
          &.disabled{
            background: #eee;
            border: #ccc 1px solid;
            color: grey;
            font-style: normal;
          }
        }
      }
      .form-builder-fieldset {
        border-top: 1px solid #c0c0c0;
        margin: 15px 3px 3px;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        > .form-builder-clone {
          position: absolute;
          right: 20px;
          top: -7px;
        }
        .description{
          margin: 10px;
        }
      }
      .control-wrapper {
        .form-field-wrap {
          .form-builder-tooltip-wrap {
            .form-builder-tooltip-description {
              right: -16%;
            }
          }
          .form-field-content-wrap {
            .control-wrapper-content {
              label {
                margin: 0 25px;
              }
            }
            i {
              bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.grid {
  .form-builder-row {
    .form-builder-column-wrapper {
      .form-builder-column {
        .form-field-wrap {
          .form-builder-tooltip-wrap {
            .form-builder-tooltip-description {
              .details {
                margin-left: calc(5% - 7px);
              }
            }
          }
        }
      }
    }
  }
}

.form-builder-radio {
  display: inline-block;
}

.table-controls{
  padding-top:  5px;
  .row-wrapper{
    flex:1
  }
  .form-builder-row {
    display: flex;
    .form-builder-column-wrapper{
       border: 1px dotted #BBB;
      .form-builder-column{
        .form-field-wrap{
          > div {
            width: 90.5%;
          }
          .form-builder-comment-toggle{
            top: 6px ;
            right:4px;
          }
          button.form-builder-comment-button-toggle{
            padding: 1px;
            top: 1px ;
          }
        }
      }
    }
  }
  .header{
    display: flex;
    background: #ddd;
    .control-wrapper-content, .form-builder-label{
      flex: 1;
      border: 1px dotted #BBB;
      padding: 5px;
    }
    label{
      font-weight: bold;
      margin-left: 5px;
    }
  }
}

.table-header{
  color: $gray600;
}

.active-group-controls {
  display: block;
  padding: 15px 3px 3px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  border-top: none;

}

.closing-group-controls {
  display: none;
}
.concept-set-group .form-builder-row .form-builder-column .form-builder-fieldset > .form-builder-clone {
  right: 10px;
  top: -14px;
}

.Select.is-disabled > .Select-control {
  background: #eee;
  border: #ccc 1px solid;
  color: #ccc;
  font-style: normal;
  cursor: not-allowed;
}

.disabled {
  background: #eee;
  border: #ccc 1px solid;
  color: #ccc;
  font-style: normal;
  cursor: not-allowed;
}

.disabled-label {
  color: grey;
}

.hidden {
  display: none;
}

.video-upload {
  .file-browse {
    position: absolute;
    z-index: -999;
    min-width: 1px;
  }

  .video-placeholder {
    width: auto;
    margin-right: 20px;
    padding: 6px 15px;
    background: #eee;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
  }

  .obs-video {
    width: 280px;
    height: 190px;
    display: table;
    margin: 0 auto;
    float: left;
  }

  .obs-disabled {
    opacity: .1;
    pointer-events: none;
    border: 3px solid black;
  }

  .delete-button, .restore-button {
    font-size: 20px;
    color: #660000;
    padding: 0;
    margin-top: 15px;
    margin-left: 15px;
  }
}

.complex-component  {
  .form-builder-clone{
    display: none;
  }
  .image-upload{
    .label-wrap{
      visibility:hidden;
    }
    .hidden{
      display: none !important;
    }
    input {
      display: none;
    }
    button {
      margin: 0;
      right: 0;
      padding: 0;
      background: transparent;
      border: none;
      outline: 0;
      position: absolute;
      top: 0;
      float: right;
      cursor: pointer;
    }
    .delete-button{
      color: #F40428;
    }
    .restore-button{
      color: #88af28;
      width: 100%;
      left: 0;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
    }
    .file {
      width: 160px;
      height: 160px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      border: 1px solid $lightestGray;
      border-radius: 3px;
      &:hover {
        opacity: 1;
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .placeholder {
      width: 160px;
      height: 160px;
      float: left;
      margin: 0;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 0;
      position: relative;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-color: $lightestGray;
      }
      i {
        color: #888;
        font-size: 18px;
        line-height: 60px;
        width: 60px;
        height: 60px;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    textarea {
      overflow: hidden;
      word-wrap: break-word;
      resize: horizontal;
      height: 35px !important;
      width: 180px !important;
      display: inline-block;
      box-sizing: border-box;
    }
  }
}
.complex-component-designer{
  input {
    width: 200px !important;
  }
}

.same-line{
  display: inline-block;
  width: 30% !important;
  vertical-align: top;
}
