.form-control-buttons {
  display: inline-block;
  button {
    margin: 0 2px 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 32px;
    width: 78px;
    text-align: center;
    i.fa-ok {
      display: none;
    }
    &.active {
      i.fa-ok {
        display: block;
        float: left;
      }
    }
  }
}
